# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.bak
*.exe
# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
*.coverprofile
_testmain.go

*.test
*.prof
cf_will_it_connect.exe
cf_will_it_connect_plugin
cf_will_it_connect.coverprofile
scratch
